root {
  --grid-number: 4;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.section {
  outline: 1px solid green;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list {
  display: inline-block;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.list-item {
  display: flex;
  margin-left: 20px;
  margin-bottom: 10px;
  border: 1px solid rgba(198, 206, 194, 0.3);
  border-radius: 30px 5px 5px 30px;
  padding-right: 10px;
  box-shadow: 4px 4px 5px 1px rgb(198, 206, 194);
}
.link {
  text-decoration: none;
}
.list-item:hover {
  border: 1px solid rgb(198, 206, 194);
  box-shadow: inset 4px 4px 5px 1px rgb(198, 206, 194);
}

.list-item::before {
  content: '';
  display: inline-block;
  background-color: beige;
  background-image: url(../images/github-computer-icons.png);
  background-size: contain;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.list-item:hover::before {
  content: '';
  display: inline-block;
  background-color: rgb(32, 241, 13);
  background-image: url(../images/github-computer-icons.png);
  background-size: contain;
  height: 60px;
  width: 60px;
  box-shadow: 4px 4px 5px 1px rgb(198, 206, 194);
}
.paragraph-item {
  color: rgb(32, 241, 13);
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 600;
}
