root {
  --grid-item: 3;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
p {
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.section {
  outline: 1px solid green;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  max-width: 960px;
  padding-left: 20px;
  padding-right: 50px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list {
  margin-left: auto;
  margin-right: auto;
}
.list-item {
  display: flex;
  margin-left: 20px;
  margin-bottom: 10px;
  border: 1px solid rgba(198, 206, 194, 0.3);
  border-radius: 30px 5px 5px 30px;
  padding-right: 10px;
  box-shadow: 4px 4px 5px 1px rgb(198, 206, 194);
}
.link {
  text-decoration: none;
}
.list-item:hover {
  border: 1px solid rgb(198, 206, 194);
  box-shadow: inset 4px 4px 5px 1px rgb(198, 206, 194);
}

.list-item::before {
  content: '';
  display: inline-block;
  background-color: beige;
  background-image: url(../images/github-computer-icons.png);
  background-size: contain;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.list-item:hover::before {
  content: '';
  display: inline-block;
  background-color: rgb(32, 241, 13);
  background-image: url(../images/github-computer-icons.png);
  background-size: contain;
  height: 60px;
  width: 60px;
  box-shadow: 4px 4px 5px 1px rgb(198, 206, 194);
}
.paragraph-item {
  color: rgb(32, 241, 13);
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 600;
}
.big-header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.socials {
  display: flex;
  margin: 0;
  flex-basis: calc((50% - 20px));
}
.social-link + .social-link {
  margin-left: 20px;
}
.social-item {
  width: 100px;
  text-align: center;
  padding: 5px;
}

.social-icons-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  fill: blue;
  transition: background-color 200ms linear;
}

.social-titles {
  display: block;
  text-align: center;
}
.icons {
  transition: transform 200ms linear, fill 200ms linear;
}
.social-icons-link:hover {
  background-color: rgb(161, 210, 250);
}
.social-icons-link:hover .icons {
  fill: #fff;
  transform: rotateZ(360deg);
}

.clock {
  display: flex;
  margin-top: 20px;
}
.clock-thumb {
  padding: 5px;
  text-align: center;
}
.clock-segment {
  margin-left: 5px;
  border: 1px solid black;
}
